bs4
langdetect
numpy
pandas
python-dateutil
python-decouple
requests
finnhub-python
python-dotenv
beautifulsoup4
yfinance
transformers
huggingface-hub
datasets
pmdarima
PyWavelets
EMD-signal
openpyxl
matplotlib
seaborn
scikit-learn
scipy
tqdm
statsmodels